.minute, .second {
    font-size: larger;
}

button {
    font-size: larger;
}

.minuteur {
    border-width: 1ex;
    border-style: double;
    font-size: larger;
}

.active {
    background-color: cyan;
}

.alert {
    background-color: rgb(193, 255, 47);
}

.finish {
    background-color: red;
}

body {
    font-size: 60px;
}

@media (max-width: 480px) {
    body {
        font-size: 60px;
    }
}